@inherits LayoutComponentBase

<PageTitle>Wexflow.BlazorServer</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <Wexflow.BlazorServer.Pages.UserDisplay></Wexflow.BlazorServer.Pages.UserDisplay>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
