@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Blazor!</h1>

本应用基于<a href="https://github.com/aelassas/wexflow">Wexflow</a>进行的Blazor.Server调整，主体逻辑依然延用Wexflow。

<SurveyPrompt Title="How is Blazor working for you?" />
